/* 粗暴去除浏览器默认样式 */
* {
    margin: 0;
    padding: 0;
}
.step {
    display: flex;
    list-style: none;
    margin: 200px 0;
    overflow-x: auto;
}

.ui-step {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #999;
}
/* 最后一个步骤进度线去掉 */
.ui-step-end .step-line {
    visibility: hidden;
}
/* 自定义字体图标样式 */
.ui-step .iconself{
        font-size: 32px;
}
/* 进度线样式 */
.ui-step .step-line {
    width: 60%;
    height: 2px;
    background: #ccc;
}
/* 流程文字样式 */
.ui-step .step-icon>i {
    display: block;
}
/* 流程完成之后的状态 */
.ui-step-success {
    color: green;
}

.ui-step-success .step-line {
    background-color: green;
}
/* 流程进行中状态 */
.ui-step-active {
    color: #189fd9;
}

.ui-step-active .step-line {
    background-color: #189fd9;
}
/* 流程等待状态 */
.ui-step-waiting {
    color: #999;
}

.ui-step-waiting .step-line {
    background-color: #999;
}