<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
    <!-- 引入字体图标样式库 -->
    <link rel="stylesheet" type="text/css" href="../css/iconfont.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div id="aboutus">
        <div class="header"></div>
        <div class="main">
            <div class="content">
                <h6><img src="../images/about.png" style="margin-right:20px" /><span>关于我们</span></h6>
                <ul class="first-ul">
                    <li>
                        <span class="iconfont icon-gongsimingcheng" style="color:#c33a3a"></span>
                        <h2>经营范围</h2>
                    </li>
                    <li>
                        <span class="iconfont icon-zizhirenzheng" style="color: #caa132;"></span>
                        <h2>服务承诺</h2>
                    </li>
                    <li>
                        <span class="iconfont icon-iconfontfabu" style="color: #4fb4d1"></span>
                        <h2>联系我们</h2>
                    </li>
                </ul>
                <ul class="second-ul">
                    <li>深圳云品电子商务有限公司是一家主营化妆品，日用百货，服装，水果蔬菜，定型包装食品，保健食品等销售业务的电子商务公司。</li>
                    <li>
                        <p>
                            <span class="iconfont icon-jifen"></span>
                            <span>正品保证</span>
                        </p>
                        <p>
                            <span class="iconfont icon-rexiao-huangguan"></span>
                            <span>会员特权</span>
                        </p>
                        <p>
                            <span class="iconfont icon-tuijian"></span>
                            <span>售后保障</span>
                        </p>
                    </li>
                    <li style="text-align: left">
                        <p>
                            <span class="iconfont icon-xinfeng"></span>
                            <span>service@yunpinec.com</span>
                        </p>
                        <p>
                            <span class="iconfont icon-phone"></span>
                            <span>028-62708665</span>
                        </p>
                        <p>
                            <span class="iconfont icon-location"></span>
                            <span>深圳市福田区莲花街道紫荆社区商报东路英龙商务大厦1708</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <section>
                <h2>更多方式关注云品</h2>
                <ul>
                    <li>
                        <img src="../images/yunpinma.png" alt="">
                        <p>下载云品(andriod）</p>
                    </li>
                    <li>
                        <img src="../images/yunpinma.png" alt="">
                        <p>下载云品(ios）</p>
                    </li>
                    <li>
                        <img src="../images/yunpinma.png" alt="">
                        <p>关注云品公众号</p>
                    </li>
                </ul>
            </section>

        </div>
    </div>

</body>

</html>