html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    max-height: 999999px;
}
html,body{
    width:100%;
    height:100%;
    scroll-behavior:smooth;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
img{vertical-align:top;border:none}
body{
    overflow: hidden;
    position: fixed;
    width:100%;
    height:100%;
    background: url("../images/big.png") no-repeat;
    background-size:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login{
    display: flex;
    box-shadow: 4px 8px 20px #6489bacf;
}
.login>p{
    width: 100%;
    height: 100%;
}
.login>p img{
    width: 100%;
    height: 100%;
}
#form{
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    padding: 80px 40px 10px; 
}
#form>p{
    margin-top: 20px;
    text-align: center;
    line-height: 24px;
}
#form>p:nth-child(1),#form>p.pwd,#form>p.yanzheng{
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
#form>p.isyancode,#form>p.ispwd{
    text-align: right;
    color:#5094d5;
    font-size: 14px;
}
#form>p.submit button{
    background-color: #559fe6;
    color: #fff;
    border: none;
    line-height: 36px;
    width: 80%;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
}
#form>p:last-child{
    color: #808080;
    font-size: 14px;
}
#form>p:last-child span{
    color: #5094d5;
    text-decoration: underline;
}
#form>p input{
    border: none;
    width: 90%;
    outline: none;
    color: #CCc;
    font-size: 14px;
}

#form>p:nth-child(1) span,#form>p.pwd span,#form>p.yanzheng span{
    /* margin-right: 20px; */
    color:#2a76bf;
    font-weight: bold;
    font-size: 20px;
}
#form>p.yanzheng input{
    width: 70%;
}
#form>p.yanzheng span.getcode{
    font-size: 14px;
    font-weight: normal;
    margin-right: 27px;
}
#form>.logining{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
#form>.logining>div{
    background-color: #ccc;
    color: #fff;
    line-height: 36px;
    width: 80%;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 5px;
    height: 40px;
    position: relative;
}
::-webkit-input-placeholder {
    color: #ccc;
}
:-moz-placeholder {/* Firefox 18- */
    color: #ccc;
}
::-moz-placeholder{/* Firefox 19+ */
    color: #ccc;
}
:-ms-input-placeholder {
    color: #ccc;
}

@-webkit-keyframes loading {
    from {width:7px;height:30px;}
    to {opacity: 0.25;width:7px;height:30px;}
}
@-moz-keyframes loading {
    from {width:7px;height:30px;}
    to {opacity: 0.25;width:7px;height:30px;}
}
div.wrapper {
    position: absolute;
    top:45%;
    left:50%;
    display: inline-block;
    zoom: 0.3; /*通过修改这个值(值的区间为0-1)的大小来设置菊花的大小*/
}
div.wrapper div {
    width:7px;
    height:30px;
    background: #fff;
    position: absolute;
    left: 100%;
    top: 100%;
;
    -webkit-animation: loading 1.2s linear infinite;
    -moz-animation: loading 1.2s linear infinite;
}
div.wrapper div.line1 {-webkit-transform:rotate(0deg) translate(0, -34px); -webkit-animation-delay: 0s;}
div.wrapper div.line2 {-webkit-transform:rotate(30deg) translate(0, -34px); -webkit-animation-delay: 0.1s;}
div.wrapper div.line3 {-webkit-transform:rotate(60deg) translate(0, -34px); -webkit-animation-delay: 0.2s;}
div.wrapper div.line4 {-webkit-transform:rotate(90deg) translate(0, -34px); -webkit-animation-delay: 0.3s;}
div.wrapper div.line5 {-webkit-transform:rotate(120deg) translate(0, -34px); -webkit-animation-delay: 0.4s;}
div.wrapper div.line6 {-webkit-transform:rotate(150deg) translate(0, -34px); -webkit-animation-delay: 0.5s;}
div.wrapper div.line7 {-webkit-transform:rotate(180deg) translate(0, -34px); -webkit-animation-delay: 0.6s;}
div.wrapper div.line8 {-webkit-transform:rotate(210deg) translate(0, -34px); -webkit-animation-delay: 0.7s;}
div.wrapper div.line9 {-webkit-transform:rotate(240deg) translate(0, -34px); -webkit-animation-delay: 0.8s;}
div.wrapper div.line10 {-webkit-transform:rotate(270deg) translate(0, -34px); -webkit-animation-delay: 0.9s;}
div.wrapper div.line11 {-webkit-transform:rotate(300deg) translate(0, -34px); -webkit-animation-delay: 1.0s;}
div.wrapper div.line12 {-webkit-transform:rotate(330deg) translate(0, -34px); -webkit-animation-delay: 1.1s;}

div.wrapper div.line1 {-moz-transform:rotate(0deg) translate(0, -34px); -moz-animation-delay: 0s;}
div.wrapper div.line2 {-moz-transform:rotate(30deg) translate(0, -34px); -moz-animation-delay: 0.1s;}
div.wrapper div.line3 {-moz-transform:rotate(60deg) translate(0, -34px); -moz-animation-delay: 0.2s;}
div.wrapper div.line4 {-moz-transform:rotate(90deg) translate(0, -34px); -moz-animation-delay: 0.3s;}
div.wrapper div.line5 {-moz-transform:rotate(120deg) translate(0, -34px); -moz-animation-delay: 0.4s;}
div.wrapper div.line6 {-moz-transform:rotate(150deg) translate(0, -34px); -moz-animation-delay: 0.5s;}
div.wrapper div.line7 {-moz-transform:rotate(180deg) translate(0, -34px); -moz-animation-delay: 0.6s;}
div.wrapper div.line8 {-moz-transform:rotate(210deg) translate(0, -34px); -moz-animation-delay: 0.7s;}
div.wrapper div.line9 {-moz-transform:rotate(240deg) translate(0, -34px); -moz-animation-delay: 0.8s;}
div.wrapper div.line10 {-moz-transform:rotate(270deg) translate(0, -34px); -moz-animation-delay: 0.9s;}
div.wrapper div.line11 {-webkit-transform:rotate(300deg) translate(0, -34px); -moz-animation-delay: 1.0s;}
div.wrapper div.line12 {-moz-transform:rotate(330deg) translate(0, -34px); -moz-animation-delay: 1.1s;}