@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1562145122184'); /* IE9 */
  src: url('iconfont.eot?t=1562145122184#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAdgAAsAAAAADWgAAAcSAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDHAqOMIsxATYCJAMQCwoABCAFhG0HPBsXC1GUTlKY7EdibCzrMbnVytTbBun/fP5x07/vJdgLeALUqTlMTZl52By+tDshTKV0ZsLEvphi4ZwFNuqF6UhWjUihT9IrgxBqPG+7968BQRQFvoFIoP3/+7k6z1toeudtIa22L/Ymqrg3CJEkXglNxKJo5BAilERI2SvL2HTYgVHY/Z8NBABDqiKkWYvnR7LAw7AS6DBudMgkK+EDXyIj0Du1hD15CymDBnq6gt4G8CF+f/INqkQPUGg4GOfqdE6+tP0Zn0/n5Pig31qGQH8RANx+AAegCMADZBQxNoQaoCJsY6TmGmoA9GaEAn0tavH59Hg8oNdi09ME+sTjQAGihWEzgqNawsNhxyjbBAT4vAVJsk8HHygt5LvrAaQAXQ6OyyBOviktKKTi7SZTYo45y16aLpZk2qvZTGaDxWSyWFNSU2YQBgYfNvTBHOjZ5fnUXVLnW6HWXSNRsXfoDKh8OniWcIFz5ljv3pyFyhWMIeUi+MUGK+fEYq6LT9nVx1k7nrZ4/LjR4+fdDzxpfizW8sqT6tdipZdiLuVpD9JnXyz18OOiiscpR2KlZI7C2A5xm1sBViWszg4LQsh1LE11kQBxrslRmeK0bqF7SAoDq7JYUFUJUSOS0CPIguI2cRVkyNJqaXuL5juTXIq0rlpfxw06dySuSSKqa21uROgZdin+1VI090nQb+euJBJwrqnsFLOW23HcLYsI94y4Iu2JITyyqKygOFVSTZaiQqhTtGsiKMDyd7jDLohujyaImYoshc2heYGaGHCGe8/IFuob55rtYFebdQuuCIkSAchVsnIkNZgYIGtzrwlCZPtSKoqzW0iYT9wVIV23zDpabRs7XKNR1B0hM18xV7gmbM/eHgXkirrNVDEyYKfQYFmFPe22LU8RI2TtxMl4E6QhK0FneKqy7u1Up7Q6mh2S1KHb3Fgdms4KPVVFhCyFw5FxdlK7qaqoKICcHY64+vjRsBQm8naQHJKWSCSbd1dVFoTMRxA+tm1dJ6tOFiRMIW5zRZSBkNiI2HgUOSzr0AJciTirqcATJSDWZh8m+4KsGQYW4WYLKooKinbbV5dmjW67EItHtp4R/+d1vO7suvH/Tr1d60vsnpif3LVa1+T8YNRJcZVFFVFE7TPsRWoGXxWFuaLs9aFq50GaQQMGlscnZCdfGFn88Uc9c21NyIQmiQ3n1M5oMezHDh2tjxpnThpi/80/VWnVJt7S040vm9bPMBny3P0pXetP6px/fr2na70DnfI2AyVTdF5uMn6Ljk1kN/mhFeGV7IXxYI/hnO9LkAZ7vyhnVltvOjBX23ir8BG8n2oP19a+MHzj/3hIft265oeO0x+7R40yF/tumd1vzRefrmvo44b3OGh6YShXK4byNw0FY6O/2mbCQ20TPfazdtmPibj/KLsu98aQ51VpJ53H3tvmmTOoZzPe8VV6zifGh9K/5aW28xbjR8ZDnbUfydOraWRzX3Omf6L5YbOx0sSJOl3NBkz0pjs8uk5E9eaxN7Ru9iWLf1KC7aydT7e2fOXx3DUdzO7LvdPdm0xsXt8Q2L5o05ynnq+9H3yxssxqo3SZg5swgcBfy1/mNryDbf/5c/nDR9x/mPH6rfOtwT3vZo1G1vT9KWUyCxy53tjDcc3r/IGhvqpWTLnnfif2zTp0/hE8NL3khwLXHI/NQ5uiCc5r3zM7+GY3naz8i70NiOZNZ71s+/DvspVffOBypzVWrfEuO2PpZDfNo+j5voD/uWEvR5yxn5ezncLsEbVzjg8qX8XmiHb/lyypziNrLzan3P8X62/WB/ihP0b11XXNp5fpK/HrMPxBxaU6p4sJCZQOzCSlvKW48ABPSQpInv6YREk7Am3V7vrWGu8hYytuP6tzUCmeIBn8+68laBeqySqR+i6ZIvRAZUNc5gJ9dFe1FG3J8ADey6aWHPwkAPHmKrllQHy4c5wMAFyIY3/utSDeZVsGWur9phd+3BOeN1k5BGfjzaMd9Q+lalN/5UDV+9kzKmMgXrPBttfDZKmKp1pIG1AADAzAH7gRsHvTh0OqTf2ZHVIEFDqkAAc9svi8uAg0EFANtNCjITAUarm/AIfJVBDeAKDAEgoIrPYBhRnngIPVHT4vfg0aOH0HWljDAUOPOI4oICejWdPJYB18GjKLRg8ti8AKdo7f8YWwz1gTZ7D8h6aNi+Qr8aYbLijQ9LHNlOnhZurUgEZMLnNqQZ0PWVaSf3KZQHSLUVO7yistHUHadjF0Yi45aKoBTOfq+8gQs/loQqkQjN9xMm//AqFehmlKRlTMf6DRipdOfEp4a/AvtqLWiHPpPsUgtDEVRQJk92+UcqQFikBm1krET14tAUJnYVSLSsVTisYaUde2GN+RX+EZAAzGMXlCCUd4ooF28Gh3sL9SR09s1SPwShIAAA==') format('woff2'),
  url('iconfont.woff?t=1562145122184') format('woff'),
  url('iconfont.ttf?t=1562145122184') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1562145122184#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai-app:before {
  content: "\e622";
}

.icon-ios:before {
  content: "\e676";
}

.icon-ico:before {
  content: "\e646";
}

