html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    max-height: 999999px;
}
html,body{
    width:100%;
    height:100%;
    scroll-behavior:smooth;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
a{
    color: black;
    text-decoration-line: none;
}
ul li,ol li,dl li{
    list-style: none;
}
/* 首页 */
#box{
    width: 100%;
    height: 100%;
    background: url('../images/bg.jpg') no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
}
#box>section{
    width: 324px;
    padding: 20px;
    position: absolute;
    bottom: 38%;
    left: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#box>section .downbtn{
    width: 100px;
    height:36px;
    text-align: center;
    border-radius: 20px;
    line-height: 36px;
    font-size: 18px;
    border: 1px solid black;
}
#box>section .erweima span{
    font-size: 40px;
}
#box>.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding: 0 0 30px;
}
#box>.footer ul{
    width: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
#box>.footer ul li{
    width: 25%;
    text-align: center;
    border-right: 1px solid #9d9a9a;
}
#box>.footer ul li a{
    color: black;
    font-size: 16px;
    font-weight: bold;
    
}
#box>.footer ul li:last-child{
    border: none;
}
#box>.footer ul li a:hover{
    color: rgb(12, 164, 235);
    text-decoration: underline;
}
#box>.footer p{
    margin: 10px 0 0;
    font-size: 13px;
    color: #888686;
    letter-spacing: 1px;
}
#box>.footer p span:nth-child(2){
    margin: 0 10px;
    padding: 0 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
/* 关于我们 */
